<div class="home-callout text-center container-fluid">
<h2 class="tracking-in-expand"><strong>Welcome to StartUper</strong></h2>
<h3>A membership site where entrepreneurs can meet developers and funders.</h3>
</div>