@import 'bootstrap-sprockets';
@import 'bootstrap';
@import "font-awesome-sprockets";
@import "font-awesome";
h1, h2, h3 {
    font-family: 'Open Sans', sans-serif;
}
.navbar, .home-callout {
   background: rgb(0,212,255);
   background: linear-gradient(90deg, rgba(0,212,255,1) 18%, rgba(9,9,121,1) 100%, rgba(2,0,36,1) 100%);
}

.navbar {
    border:none;
    color:white;
}

.home-callout {
  color: white;
  margin-top: -20px;
  padding-top: 50px;
  padding-bottom: 100px;
}

.navbar-default .navbar-brand, .navbar-default .navbar-nav > li > a {
    color:white;
    &:hover {
    color: white;
    opacity: 0.75;
  }
}

.navbar-brand, .navbar-default .navbar-nav > li > a {
  font-family: 'Open Sans', sans-serif;
  font-weight: 800;
}

.navbar-default .navbar-toggle .icon-bar {
  background-color: white;
}

.navbar-default .navbar-toggle {
  border: 2px solid white;
  &:hover, &:focus {
    background-color: #00c6ff;
  }
}

.my-image {
    margin-top:10px;
}
