@import 'bootstrap-sprockets';
@import 'bootstrap';
h1, h2, h3 {
    font-family: 'Open Sans', sans-serif;
}
.navbar, .home-callout {
   background: rgb(0,212,255);
background: linear-gradient(90deg, rgba(0,212,255,1) 18%, rgba(9,9,121,1) 100%, rgba(2,0,36,1) 100%);
}

.navbar {
    border:none;
    color:white;
}

.home-callout {
    color: white;
  margin-top: -20px;
  padding-top: 50px;
  padding-bottom: 100px;
}